@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap');
:root{
    --main-color:black;
    --dif:orange;
    --black:black;
    --red:red;
    --white:white;
    --pink:#c32249;
    --border:.2rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Alegreya', serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: #444;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}


body{
    background: #024980;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color:#fff;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    background:var(--pink);
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background: #333;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:#fff;
    font-size: 2.5rem;
}

.header .logo span{
    color:orange;
}

.header .svclogo{
    height: 5.5rem;
    background: aliceblue;
    border-radius: 10px;
}

.hr{
    color: 5px orange;
    background-color: #024980;
}

.header .kaitslogo{
    height: 5.5rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color:#fff;
    margin-left: 2rem;
    padding-top: 15px;
}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-bars{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}
.Home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(https://imagizer.imageshack.com/img922/5287/vaIb2y.png)no-repeat ;
    background-size: cover;
    background-position: center;
}

.Home .content{
    max-width: 120rem;
}

.Home .content h3{
    font-size: 7rem;
    text-transform: uppercase;
    color:rgb(169, 169, 169);
    font-weight: bold;
}
.Home .content h6{
    font-size: 3rem;
    text-transform: uppercase;
    color:rgb(12, 12, 12);
    font-weight: bold;
}

.Home .content h4{
    font-size: 6rem;
    color:#024980;
}
.Home .content span {
    color: rgba(247, 0, 54, 0.895);
}
.aboutteam {
    display: absolute;
    align-items: center;
}
.aboutteam .info {
    display: absolute;
    align-items: center;
    background-color: #eee;
}
.aboutteam .info p{
    font-size: 3rem;
    text-transform: uppercase;
    color:rgb(12, 12, 12);
    font-weight: bold;
}


.eventlist {
    display: absolute;
    align-items: center;
}

.table_box{
    margin: 50px auto;
    border: rgb(0, 0, 0);
}
.table_row{
    display: table;
    width: 100%;
    margin: 8px auto;
    font-family: sans-serif;
    background: #e0e0e0;
    padding: 15px 0;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 13px;
    box-shadow: 0 1px 4px 0 rgba(1, 1, 70, 0.596);
}
.table_cell {
    display: table-cell;
    width: 10%;
    text-align: center;
    padding: 4px 0;
    border-right: 9px solid #ababab;
    vertical-align: middle;
}
.table_head{
    background: #f14a;
    box-shadow: 0 1px 4px 0 rgba(1, 1, 70, 0.596);
    color: rgb(254, 254, 254);
    font-weight: 600;
}
.table_head .table_cell{
    border-right: none;
}
.last_cell{
    border-right: none;
}
.first_cell{
    text-align: center;
}




.contact .row{
    display: flex;
    background:var(--black);
    width: 100%;
    height: 50vh;
}


.contact .row .map{
    flex:1 1 20rem;
    width: 100%;
    object-fit: cover;
}
.contact h3{
    font-size: 3rem;
    text-transform: uppercase;
    align-items: center;
    color:rgb(0, 0, 0);
    font-weight: bold;
    border: black;
    background: #cdcdcd;
}



.footer{
    background:#111;
    background: orange;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:#fff;
    color: black;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color:#eee;
    color: black;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem;
    color:#fff;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid #222;
    padding:2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .clg{
    text-align: center;
    border-top: .1rem solid #222;
    padding:2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;
}

.footer .credit span{
    color:white;
}

.footer .credit span:hover{
    color:blue;
    cursor: pointer;
}
















/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar a{
        display: flex;
        background:#222;
        border-radius: .5rem;
        padding:1.3rem;
        margin:1.3rem;
        font-size: 2rem;
    }

    .home .content h3{
        font-size: 4rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .home .home-slider .swiper-slide{
        width: 27rem;
    }

    .contact form .inputBox input{
        width: 100%;
    }

}